.red{
    color:red;
}

.black{
    color:green;
}

.blue{
    color:blue;
}

#green{
    color:green;
}
table, th, td {
    border: 1px solid black;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

li:nth-child(even){
    background-color:lightblue;
}